<% provide(:title, "おすすめコーヒー店") %>
<h1>管理人おすすめのコーヒー店</h1>
<center>
<h2>堀口珈琲</h2>
<%= link_to image_tag("horiguti.png", alt: ""),
              'http://www.kohikobo.co.jp/', :target=>["_blank"] %>
<p>管理人がコーヒーの世界に入るきっかけになったお店、ドリップポッドなど堀口珈琲の物を使っています。</p>

<h2>IRON　COFFEE</h2>
<%= link_to image_tag("ironcoffee.png", alt: ""),
              'http://iron-coffee.com//', :target=>["_blank"] %>
<p>管理人が通っていたスタンドコーヒー店、中浅煎りの香り高いコーヒーがとても魅力です。</p>

<h2>カフェマルシェkunikuni</h2>
<%= link_to image_tag("marushe", alt: ""),
              'http://kunikunimame.com/.png', :target=>["_blank"] %>
<p>このお店は豆の販売が主ですが色々なコーヒーの試飲などもできます。世界の珍しいコーヒー豆を入荷しています。</p>
              
<h2>猿田彦珈琲</h2>
<%= link_to image_tag("sarutahiko.png", alt: ""),
              'https://sarutahiko.co/', :target=>["_blank"] %>
<p>東京でチェーン展開しているサードウェーブのコーヒー店、調布店は大きな焙煎機も見れて面白いです。</p>
              
<h2>丸美珈琲店</h2><%= link_to image_tag("marubi.png", alt: ""),
              'https://www.marumi-coffee.com/', :target=>["_blank"] %>
<p>場所は遠いですが札幌を中心に展開しているコーヒーチェーン、豆の種類も豊富でどれもおいしいです。</p>
              
</center>