<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>各ユーザーの投稿</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron"style = background-color:transparent;>
    <h1>　奥深きCoffeeの世界へ。</h1>


    <%= link_to "こちらから新規登録！", signup_path, class: "btn btn-lg btn-primary" %>
  </div>


<% end %>