<% provide(:title, @user.name) %>


<div class="row">
  
  <%= render 'user_information'%>
    <%= render 'basic_information'%>
      <%if current_user.try(:admin?)%>
        <center>
          <%= link_to "当該ユーザーの勤怠情報を編集", edit_work_path(date:@works), class: "btn btn-lg btn-primary" %>
          <%= link_to "当該ユーザーの基本情報を編集", edit_basic_info_path(@user), class: "btn btn-lg btn-primary" %>
        </center>
      <%end%>
        

  <table class="table-striped table-bordered">
    <tr>
      <th class="col-lg-1">日付</th>
      <th class="col-lg-1">曜日</th>
      <th class="col-lg-1">出退勤 ボタン</th>
      <th class="col-lg-1">出社(時)</th>
      <th class="col-lg-1">出社(分)</th>
      <th class="col-lg-1">退社(時)</th>
      <th class="col-lg-1">退社(分)</th>
      <th class="col-lg-1">在社時間</th>
      <th class="col-lg-1">備考</th>
    </tr>
  </table>
  
  
  <table class="table-striped table-bordered">
    <% @works.each do |work| %>
      <tr>
        <td class="col-lg-1"><%= work.day.month %>月<%= work.day.day %>日</td>
        <td class="col-lg-1"><%= %w(日 月 火 水 木 金 土 日)[work.day.wday] %></td>
        <td class="col-lg-1">
          <% if work.day == Date.today && work.attendance_time.nil? %> 
            <%= button_to "出社", work_path(work, button_type: "start"), class: "btn btn-default btn-min btn-block", :method => :patch %>
          <% end %>
          <% if work.day == Date.today && work.attendance_time && work.leaving_time.nil? %>
            <%= button_to "退社", work_path(work, button_type: "end"), class: "btn btn-default btn-min btn-block", :method => :patch %>
          <% end %>
        </td>
        <td class="col-lg-1"><%= work.attendance_time.hour if work.attendance_time %></td>
        <td class="col-lg-1"><%= work.attendance_time.min if work.attendance_time %></td>
        <td class="col-lg-1"><%= work.leaving_time.hour if work.leaving_time %></td>
        <td class="col-lg-1"><%= work.leaving_time.min if work.leaving_time %></td>
        <td class="col-lg-1"><%= day_work_time(work) %></td>
        <td class="col-lg-1"><%= work.remarks %></td>
      </tr>
    <%end%>
  </table>
  
</div>