<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-lg-n">
<table class="table table-bordered">
  <tr>
        <td class="col-xs-3 col-ms-3 col-md-4 col-lg-4"><%= link_to "◀︎",user_url(params: { id: @user.id, first_day: @first_day.prev_month }), 
            style:"color:white", class: 'btn btn-default btn-primary' %>
           <%= @first_day.strftime("%Y年%m月") %>　時間管理表　
        <%= link_to "▶︎",user_url(params: { id: @user.id, first_day: @first_day.next_month }), 
            style:"color:white", class: 'btn btn-default btn-primary' %></td>
    <td class="col-xs-3 col-ms-3 col-md-4 col-lg-4">指定勤務時間</td>
    <td>基本時間</td>
    
    <td class="col-xs-2 col-ms-2 col-md-2 col-lg-2">初日　<%= @first_day.beginning_of_month.strftime("%m月%d日") %></td>
  </tr>
  </table>
  <table class="table table-bordered">
  <tr>
    <td class="col-xs-3 col-ms-3 col-md-4 col-lg-4"><%= @user.affiliation %></td>
    <td class="col-xs-3 col-ms-3 col-md-4 col-lg-4"><%= @user.name %></td>
    <td>コード</td>
    <td>出社日数</td>
    <td class="col-xs-2 col-ms-2 col-md-2 col-lg-2">締め　<%= @last_day.strftime("%m月%d日") %></td>
  </tr>
</table>
<table class="table-striped table-bordered">
  　<tr>
    <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">日付</th>
    <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">曜日</th>
    <th>時</th>
    <th>分</th>
    <th>出社ボタン</th>
    <th>退社ボタン</th>
    <th>退社(時)</th>
    <th>退社(分)</th>
    <th>在社時間</th>
    <th>備考</th>
  </tr>
<%(@first_day..@last_day).each do |date| %>
    <tr>
      <td><%= @first_day.month %>月<%= date.day %>日</td>
      <td><%= %w(日 月 火 水 木 金 土 日)[date.wday] %></td>
      <td><%= @works.attendance_time.hour if @works.day == date %></td>
      <td><%= @works.attendance_time.min  if @works.day == date %></td>
      <td>出社ボタン</td>
      <td>退社ボタン</td>
      <td><%= @works.leaving_time.hour if @works.day == date %></td>
      <td><%= @works.leaving_time.min if @works.day == date %></td>
      <td>在社時間</td>
      <td><%= @works.remarks if @works.day == date %></td>
    </tr>
<%end%>
</table>
  </div>
</div>
